doctype html
html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/main.js')
    link(rel="preload", type="image/svg+xml", href="/svg/delete_forever-24px.svg", as="image")
    link(rel="preload", type="image/svg+xml", href="/svg/settings-24px.svg", as="image")
  body
    main
      block content
    footer
